<?xml version="1.0"?>
<!-- app/code/Magelearn/CustomOption/etc/di.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Register your option type -->
    <type name="Magento\Catalog\Model\Product\Option\Type\Factory">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="datepicker" xsi:type="string">Magelearn\CustomOption\Model\Product\Option\Type\Datepicker</item>
            </argument>
        </arguments>
        <plugin name="magelearn_customoption_add_datepicker_type"
                type="Magelearn\CustomOption\Plugin\AddDatepickerOptionType" />
    </type>
</config>

