<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\View\Options">
        <arguments>
            <argument name="optionTypes" xsi:type="array">
                <item name="datepicker" xsi:type="array">
                    <item name="block" xsi:type="string">Magelearn\CustomOption\Block\Product\View\Options\Type\Datepicker</item>
                    <item name="template" xsi:type="string">Magelearn_CustomOption::product/view/options/type/datepicker.phtml</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>